@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: url("../../public/images/krung1.png") no-repeat center center
    fixed;
  background-size: cover;
}

/* Responsive Design for admin logo */
.admin-logo {
  width: 100%; /* default width for mobile devices */
  max-width: 250px; /* adjust max width for larger screens */
}

.box-area {
  width: 100%;
  max-width: 1300px; /* ขยายขนาดของกล่อง */
}

.left-box {
  background: #30a4dc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.left-box img {
  width: 80%;
  max-width: 200px;
  height: auto;
}

.right-box {
  padding: 60px 50px 60px 60px; /* เพิ่ม padding */
}

::placeholder {
  font-size: 18px; /* เพิ่มขนาดตัวอักษร placeholder */
}

.rounded-4 {
  border-radius: 20px;
}

.rounded-5 {
  border-radius: 30px;
}

@media only screen and (max-width: 768px) {
  .box-area {
    margin: 0 10px;
  }
  .left-box {
    padding: 10px;
  }
  .right-box {
    padding: 30px;
  }
}
